.pair {
  display: flex;
  align-items: center;
  gap: 16px;
}

.circle,
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: none;
  background: var(--color-1);
  color: var(--color-5);
  cursor: pointer;
  flex-shrink: 0;
}

.iconFlip {
  display: flex;
  transform: rotate(180deg);
}
