.toggle {
  position: absolute;
  left: 24px;
  bottom: 24px;
  z-index: 2;
  width: 33.43px;
  height: 33.43px;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 0;
}
