.section {
  background: var(--color-6);
  padding: 100px 0 0;
}

.inner {
  display: flex;
  align-items: center;
  gap: 77px;
  flex-wrap: wrap;
}

.visual {
  position: relative;
  flex: 1 1 0;
  aspect-ratio: 629 / 429;
}

.image {
  object-fit: contain;
}

.content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.headingGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 9px;
  color: var(--color-3);
}

.tagDot {
  width: 8px;
  height: 8px;
  background: var(--color-1);
  flex-shrink: 0;
}

.heading {
  color: var(--color-3);
}

.features {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  background: var(--color-5);
  border-radius: 100px;
  padding: 5px 10px;
  color: var(--color-3);
}

.featureDot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--color-1);
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .section {
    padding: 80px 0 0;
  }

  .inner {
    gap: 50px;
  }

  .visual {
    flex: 1 1 100%;
    max-width: 500px;
  }

  .content {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 60px 0 0;
  }

  .inner {
    flex-direction: column;
  }

  .content {
    display: contents;
  }

  .headingGroup {
    order: 1;
    width: 100%;
  }

  .visual {
    order: 2;
    flex: 0 0 auto;
    width: 100%;
    max-width: 500px;
  }

  .features {
    order: 3;
    width: 100%;
  }
}
