.section {
  background: var(--color-6);
  padding: 100px 0;
  overflow: hidden;
}

.heading {
  text-align: center;
  color: var(--color-3);
  margin-bottom: 50px;
}

/* ── CTA ──────────────────────────────────────────────────────────────────── */

.cta {
  background: var(--color-6);
  height: 232px;
  padding: 0 70px;
  display: flex;
  align-items: center;
}

.ctaContainer {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 70px;
  width: 100%;
}

.ctaBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33px;
  text-align: center;
}

.ctaHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.ctaTitle {
  width: 550px;
}

.ctaDivider {
  width: 1px;
  align-self: stretch;
  background: var(--color-4);
  opacity: 0.15;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .section {
    padding: 60px 0;
  }

  .heading {
    margin-bottom: 32px;
    padding: 0 14px;
    text-align: center;
    font-size: 25px;
  }

  .cta {
    height: auto;
    padding: 0px 24px;
  }

  .ctaContainer {
    flex-direction: column;
    gap: 28px;
  }


  .ctaTitle {
    width: 100%;
  }
}
