/* ── Section ──────────────────────────────────────────────────────────────── */

.section {
  background: var(--color-6);
  padding: 100px 0;
  overflow: hidden;
}

.heading {
  padding-left: 58px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {

  .section {
    padding: 60px 0;
  }

  .heading {
    font-size: 25px;
    width: 240px;
    padding-left: 20px;
    margin-bottom: 30px;
  }
}
